[package]
name = "aardvark-dns"
# This version specification right below is reused by .packit.sh to generate rpm version
version = "1.6.0-dev"
edition = "2018"
authors = ["github.com/containers"]
license = "Apache-2.0"
readme = "README.md"
description = "A container-focused DNS server"
homepage = "https://github.com/containers/aardvark-dns"
repository = "https://github.com/containers/aardvark-dns"
categories = ["containers", "networking", "dns", "podman"]
exclude = ["/.cirrus.yml", "/.github/*"]

[package.metadata.vendor-filter]
# This list is not exhaustive.
platforms = ["x86_64-unknown-linux-gnu", "aarch64-unknown-linux-gnu", "powerpc64le-unknown-linux-gnu",
             "s390x-unknown-linux-gnu", "riscv64gc-unknown-linux-gnu",
             "x86_64-unknown-linux-musl", "aarch64-unknown-linux-musl",
             ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.2.23", features = ["derive"] }
syslog = "^6.0"
log = "0.4.17"
trust-dns-server = "0.22.0"
trust-dns-proto = "0.22.0"
trust-dns-client = "0.22.0"
anyhow = "1.0.70"
futures-util = { version = "0.3.27", default-features = false }
signal-hook = "0.3.15"
tokio = { version = "1.27.0", features = ["macros", "rt-multi-thread", "net"] }
async-broadcast = "0.5.1"
resolv-conf = "0.7.0"
nix = "0.26.2"
libc = "0.2"

[build-dependencies]
chrono = "0.4.24"
