[package]
name = "aardvark-dns"
version = "1.0.4-dev"
edition = "2018"
authors = ["github.com/containers"]
description = "A container-focused DNS server"
exclude = ["/.cirrus.yml", "/.github/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.1.16", features = ["derive"] }
syslog = "^6.0"
log = "0.4.17"
trust-dns-server = "0.21.2"
trust-dns-proto = "0.20.4"
trust-dns-client = "0.20.4"
anyhow = "1.0.57"
futures-util = "0.3.21"
signal-hook = "0.3.13"
tokio = { version = "1.15.0", features = ["tokio-macros", "full"] }
async-broadcast = "0.4.0"
resolv-conf = "0.7.0"

[build-dependencies]
chrono = "*"
