[package]
name = "aardvark-dns"
# This version specification right below is reused by .packit.sh to generate rpm version
version = "1.11.0-dev"
edition = "2018"
authors = ["github.com/containers"]
license = "Apache-2.0"
readme = "README.md"
description = "A container-focused DNS server"
homepage = "https://github.com/containers/aardvark-dns"
repository = "https://github.com/containers/aardvark-dns"
categories = ["containers", "networking", "dns", "podman"]
exclude = ["/.cirrus.yml", "/.github/*"]

[package.metadata.vendor-filter]
# This list is not exhaustive.
platforms = ["x86_64-unknown-linux-gnu", "aarch64-unknown-linux-gnu", "powerpc64le-unknown-linux-gnu",
             "s390x-unknown-linux-gnu", "riscv64gc-unknown-linux-gnu",
             "x86_64-unknown-linux-musl", "aarch64-unknown-linux-musl",
             ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "~4.4.10", features = ["derive"] }
syslog = "^6.1.0"
log = "0.4.20"
hickory-server = "0.24.0"
hickory-proto = "0.24.0"
hickory-client = "0.24.0"
anyhow = "1.0.79"
futures-util = { version = "0.3.30", default-features = false }
signal-hook = "0.3.17"
tokio = { version = "1.35.1", features = ["macros", "rt-multi-thread", "net"] }
async-broadcast = "0.6.0"
resolv-conf = "0.7.0"
nix = { version = "0.27.1", features = ["fs", "signal"] }
libc = "0.2"

[build-dependencies]
chrono = "0.4.33"
