[package]
name = "aardvark-dns"
version = "1.0.1-dev"
edition = "2018"
authors = ["github.com/containers"]
description = "A container-focused DNS server"
exclude = ["/.cirrus.yml", "/.github/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.1.0", features = ["derive"] }
syslog = "^6.0"
log = "0.4.14"
trust-dns-server = "0.20.4"
trust-dns-proto = "0.20.4"
trust-dns-client = "0.20.4"
anyhow = "1.0.54"
futures-util = "0.3.21"
signal-hook = "0.3.13"
tokio = { version = "1.15.0", features = ["tokio-macros", "full"] }
async-broadcast = "0.3.4"
resolv-conf = "0.7.0"

[build-dependencies]
# latest version does not compile with rust v1.57
vergen = { version = "=6.0.2", default-features = false, features = ["build", "rustc", "git"] }
anyhow = "1.0"
